
.Candidate.eliminated {
   background-color: yellow;
}

.Candidate.added {
   background-color: green;
}

.Candidate.solved {
   color: lightgreen;
}

.Cell.blue,
.Candidate.blue {
   background-color: var(--blue-gray);
   color: black;
}

.Cell.green,
.Candidate.green {
   background-color: lightgreen;
   color: black;
}

.Candidate.orange {
   background-color: orange;
   color: black;
}

/* More like tan instead of orange, but at least my eyes don't hurt from the contrast */
.Cell.orange {
   background-color: hsl(39, 80%, 70%); /* orange - 20 sat + 20 lig */
   color: black;
}

.Cell.salmon {
   background-color: salmon;
   color: black;
}

.Cell.orange.salmon {
   background-color: hsl(23, 87%, 71%);
   color: black;
}

/* Halfway between the styles in blue and green */
.Cell.blue.green,
.Candidate.blue.green {
   background-color: #8ecec2;
}
