
/* Moved from Sudoku.css */

p.Candidates {
   margin: 0;
   padding: 2pt;
   width: 100%;
   height: 100%;

   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 1fr);
   font-size: 1rem;
}

span.Candidate {
   padding: 0;
   line-height: normal;

   font-size: var(--candidate-fontsize);
   text-align: center;
   color: inherit;

   /* [ref 1] */
   overflow: hidden;
   text-overflow: clip;
}
