{
  "extends": [
    "react-app",
    "plugin:jsx-a11y/recommended",
    "plugin:jest-dom/recommended",
    "plugin:testing-library/react"
  ],
  "plugins": [
    "jsx-a11y",
    "jest-dom",
    "testing-library"
  ]
}
