
.Candidate.eliminated {
   background-color: yellow;
}

.Candidate.added {
   background-color: green;
}

.Candidate.solved {
   color: lightgreen;
}

.Cell.blue,
.Candidate.blue {
   background-color: var(--blue-gray);
   color: black;
}

.Cell.green,
.Candidate.green {
   background-color: lightgreen;
   color: black;
}

.Cell.orange,
.Candidate.orange {
   background-color: rgb(255, 166, 0);
   color: black;
}
