
.Coords {
   display: grid;
   grid-template-columns: var(--coord-margin) var(--sudoku-length) 1fr; /* Variables from Main.css */
   grid-template-rows: var(--coord-margin) var(--sudoku-length);
   grid-template-areas:
      ". CoordCols ."
      "CoordRows . .";
   gap: 0 0;
}

.CoordCols, .CoordRows {
   display: flex;
   justify-content: center;
   align-content: center;
   text-align: center;
   padding: 0;
}

.CoordCol, .CoordRow {
   display: flex;
   justify-content: center;
   text-align: center;
   align-items: center;
   font-size: 75%;
   padding: 0; /* Doesn't do anything */
}

.CoordCols {
   grid-area: CoordCols;
   flex-direction: row;
}

.CoordRows {
   grid-area: CoordRows;
   flex-direction: column;
}

/* 9x9 Cells */
.CoordCol {
   width: calc(100% / 9);
}

.CoordRow {
   height: calc(100% / 9);
}
