
.DataContainer {
   background-color: #373A40;
   color: var(--text-color);
   border: var(--regular-border) solid var(--text-color);
   padding: 0.2rem 0.7rem;

   display: flex;
   align-items: center;
}

.DataLabelText {
   padding-right: inherit; /* The container has the padding-left */
   min-width: fit-content;
}

.Data {
   box-sizing: border-box; /* accounts for padding and stuff */
   width: 100%; /* remaining width */
   height: 100%;
   background-color: #373A40;
   color: var(--text-color);
   border: none;
   border-left: var(--regular-border) solid var(--text-color);
   padding-left: inherit;
   font-size: 1rem;
   font-family: var(--monospace);
}
