
.DataContainer {
   background-color: #373A40;
   color: var(--text-color);
   border: var(--regular-border) solid var(--text-color);

   padding: 0.2rem 0.7rem;
   display: flex;
   align-items: center;
}

.DataLabelText {
   min-width: fit-content;
}

.Data {
   box-sizing: border-box; /* accounts for padding and stuff */
   width: 100%; /* remaining width */
   height: 100%;
   background-color: #373A40;
   color: var(--text-color);
   border: none;
   font-size: 1rem;
   font-family: var(--monospace);
}

/* TODO: Uncomment supports when postcss-preset-env makes it to postcss 8
 * https://github.com/csstools/postcss-preset-env/issues/191
 */
/* TODO: Remove when all recent browsers support the :dir selector */
/* @supports not selector(:dir(ltr)) { */
   /* Assuming ltr is the default */
   .Data {
      border-left: var(--regular-border) solid var(--text-color);
      padding-left: inherit;
   }

   .DataLabelText {
      padding-right: inherit; /* The container has the padding-left */
   }

   [dir=rtl] .Data {
      border-left: none; /* In this version, the original code needs to be overwritten */
      padding-left: initial;
      border-right: var(--regular-border) solid var(--text-color);
      padding-right: inherit;
   }

   [dir=rtl] .DataLabelText {
      padding-left: inherit; /* The container has the padding-left */
      padding-right: initial;
   }
/* } */

/* @supports selector(:dir(ltr)) { */
   .Data:dir(ltr) {
      border-left: var(--regular-border) solid var(--text-color);
      padding-left: inherit;
   }

   .DataLabelText:dir(ltr) {
      padding-right: inherit; /* The container has the padding-left */
   }

   .Data:dir(rtl) {
      border-right: var(--regular-border) solid var(--text-color);
      padding-right: inherit;
   }

   .DataLabelText:dir(rtl) {
      padding-left: inherit; /* The container has the padding-left */
   }
/* } */

