
/*
   References:
   [1]: https://stackoverflow.com/questions/4457506
   [2]: https://stackoverflow.com/questions/13667941
*/

table.Sudoku {
   border: 3px solid white;
   border-collapse: collapse;

   text-align: center;
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;

   /* [ref 1] */
   table-layout: fixed;
   width: 100%;
}

tr.Row {
   height: calc(100% / 9);
}

tr.Row:nth-child(3n) > td.Cell {
   border-bottom: 3px solid white;
}

td.Cell {
   width: calc(100% / 9);
   height: calc(100% / 9); /* part of trying @[ref 1] */
   border: 1.5px solid white;
   font-size: 175%;

   padding: 0;
}

td.Cell > * {
   /* [ref 2] */
   height: initial;

   /* & [ref 1] */
   overflow: hidden;
   text-overflow: clip;
}

td.Cell[data-error="true"] {
   background-color: rgb(139, 0, 0);
}

td.Cell[active="true"] {
   background-color: gray;
}

td.Cell:nth-child(3n) {
   border-right: 3px solid white;
}

table.Candidates {
   width: 100%;
   height: 100%;
   table-layout: fixed; /* [ref 1] */
}

table.Candidates > tbody > tr {
   height: calc(100% / 3);
   font-size: calc(100% / 3); /*
      The font-size property is here instead of td.Candidate since its more specific
   */
}

td.Candidate {
   width: calc(100% / 3);
   padding: 0;
   line-height: 0;

   /* [ref 1] */
   overflow: hidden;
   text-overflow: clip;
}

