
/*
   References:
   [1]: https://stackoverflow.com/questions/4457506
   [2]: https://stackoverflow.com/questions/13667941
*/

table.Sudoku {
   /* Border variables to make it look like a sudoku */
   --larger-border: calc(8 * var(--regular-border));
   --large-border: calc(var(--larger-border) / 3);

   border: var(--larger-border) solid white;
   border-collapse: collapse;
   border-spacing: 0;

   text-align: center;
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;

   /* [ref 1] */
   table-layout: fixed;
   width: 100%;

   /* Also the width */
   --cell-height: calc(100% / 9);
   /* The following variables are inherited by :root
   --cell-fontsize: 2.5rem;
   --candidate-fontsize: 0.9rem;
   */

   vertical-align: middle;
   cursor: pointer;
}

tr.Row {
   height: var(--cell-height);
}

tr.Row:nth-child(3n):not(:last-child) > td.Cell {
   border-bottom: var(--large-border) solid white;
}

td.Cell {
   width: var(--cell-height);
   height: var(--cell-height); /* part of trying @[ref 1] */
   max-width: var(--cell-height);
   max-height: var(--cell-height);
   border: var(--regular-border) solid white;
   border-spacing: 0;
   font-size: var(--cell-fontsize);

   padding: 0;

   text-align: center;
   vertical-align: middle;
}

td.Cell:nth-child(3n):not(:last-child) {
   border-right: var(--large-border) solid white;
}

div.Cell {
   border: none;
   width: 100%;
   height: 100%;
   padding: 0;
   background-color: transparent;
}

div.Cell > * {
   /* [ref 2] */
   height: var(--cell-height);

   /* & [ref 1] */
   overflow: hidden;
   text-overflow: clip;
}

/*  This selector was made before I needed to use it
 *  This is for vertically aligning the big digits
 */
div.Cell > span.ugh.tables {
   display: inline-flex;
   height: 100%;
   align-items: center;
}

div.Cell[data-error="true"] {
   background-color: rgb(139, 0, 0);
}

div.Cell[active="true"] {
   background-color: gray;
}

table.Candidates {
   /* Also the width */
   --candidate-height: calc(100% / 3);

   padding: 2pt;
   width: 100%;
   height: 100%;
   table-layout: fixed; /* [ref 1] */

   border-collapse: separate;
   empty-cells: show;
   font-size: 1rem;
}

td.Candidate {
   padding: 0;
   line-height: 0;

   height: var(--candidate-height);
   width: var(--candidate-height);
   font-size: var(--candidate-fontsize);
   text-align: center;
   color: white;

   /* [ref 1] */
   overflow: hidden;
   text-overflow: clip;
}

