.App-main {
   /* variables (inherited by children) */
   --coord-margin: 1.75rem;
   --sudoku-length: calc(
      9 * 4rem +
      calc(7 * var(--regular-border) * 2) +
      calc(2 * var(--regular-border) * 1) +
      calc(2 * 8 * var(--regular-border) / 3)
   ); /*
      Length = Row width
      Row width = 9 cells

      7 cells = width + 2regular-border
      2 cells = width + 1regular-border + 1large-border

      large-border = 8 * regular / 3
      total   = 9 * width +
                (7 * 2 * regular) +
                (2 * 1 * regular) +
                (2 * (8 * regular / 3))
   */

   display: grid; /* Remember to update Coords.css too! */
   grid-template-columns: var(--coord-margin) var(--sudoku-length); /* And also see App.css! */
   grid-template-rows: var(--coord-margin) var(--sudoku-length) 1fr;
   grid-template-areas:
      "coords coords"
      "coords coords"
      "data data";
      /* The sudoku is the bottom-right coords, there's leftover at the bottom as mentioned */
   gap: 0 0;
}

.Coords {
   grid-area: coords;

   z-index: 2;
}

.Sudoku {
   width: var(--sudoku-length);
   height: var(--sudoku-length);
   grid-area: 2 / 2 / 3 / 3;

   z-index: 3;
}

.Data {
   margin-top: 1.5rem;
   padding: 0.2rem 0.4rem;
   grid-area: data;

   background-color: #373A40;
   color: whitesmoke;
   border: none;
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}
