
.Tabs {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
}

.Tab.selected {
   border: none;
   background-color: var(--background-color);
}

.Tab.unselected {
   border-style: outset;
   background-color: rgb(80, 80, 80);
}

.Tab.unselected:hover {
   background-color: rgb(118, 118, 118);
}

.Tab.unselected:active {
   background-color: rgb(55, 55, 55);
   border-style: inset;
}
