
.AlertNotice {
   position: absolute;
   bottom: 2vh;
   right: 2vw;
   height: fit-content;
   width: fit-content;

   background-color: #444;
   z-index: 4;

   display: flex;
   padding: 0 1rem 1rem 1rem;
   justify-content: space-between;
   flex-direction: column;

   border-width: var(--regular-border);
   border-style: solid;
}

/** Positioning */
.AlertNotice > p {
   height: fit-content;
   font-size: 1rem;
}

.AlertNotice > button {
   font-size: 2rem;
}

.AlertNotice > * {
   position: sticky;
}


/** Types of alert notices */
.AlertNotice.info {
   border-color: var(--blue-gray);
}

.AlertNotice.warning {
   border-color: var(--orange);
}

.AlertNotice.error {
   border-color: var(--red);
}
