

/* root variables */
:root {
   --relative-pixel: calc(1ch / 25);
   --regular-border: calc(2 * var(--relative-pixel) * var(--scaling-factor));

   --scaling-factor: 1;
   --sudokucell-length: calc(4rem * var(--scaling-factor));
   --cell-fontsize: calc(2.5rem * var(--scaling-factor));
   --candidate-fontsize: calc(0.9rem * var(--scaling-factor));
}

.App {
   background-color: #282c34;
   min-height: 100vh;
   min-width: 100vw;
   width: fit-content;
   color: white;

   display: grid;
   /* default moved to min-width media querys */

   /* See app.main */
   --app-main-height: calc(
      1.75rem + /* --coord-margin */
      calc( /* --sudoku-length */
         9 * var(--sudokucell-length) +
         calc(7 * var(--regular-border) * 2) +
         calc(2 * var(--regular-border) * 1) +
         calc(2 * 8 * var(--regular-border) / 3)
      ) +
      2rem + 5vh /* min Data height + view height */
   );
}

@media (min-width: 900px) {
   .App {
      grid-template-columns: 250fr 1432fr 1314fr 250fr; /* ~ (8%, 44%, 40%, 8%)  */
      grid-template-rows: 0.3fr 0.3fr 2rem var(--app-main-height) 0.3fr; /* prev ~ (7%, 7%, 2rem, 72%, 7%) */
      gap: 0 0;
      grid-template-areas:
         ". . . ."
         ". Header Aside ."
         ". . Aside ."
         ". Main Aside ."
         ". . . .";
   }
}

@media (max-width: 900px) {
   .App {
      --header-height: calc(2rem + 10px + 2vmin + 2rem);

      grid-template-columns: 250fr 2745fr 250fr; /* ~ (8%, 84%, 8%)  */
      grid-template-rows: 7vh var(--header-height) 2rem var(--app-main-height) 2rem calc(var(--app-main-height) + 9vh);
      gap: 0 0;
      grid-template-areas:
         ". . ."
         ". Header ."
         ". . ."
         ". Main ."
         ". . ."
         ". Aside .";
   }

   .App-aside {
      font-size: calc(1rem + 1vh);
   }
}

/*
@keyframes App-logo-spin {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
   .App-logo {
      animation: App-logo-spin infinite 20s linear;
   }
}
*/

/* TODO: Fix layout when error */
.App.error {
   border: 0.5rem solid red;
}

.App.error > .App-header::before {
   content: "Error! ";
   color: red;
}

.App-header {
   font-size: calc(10px + 2vmin);

   grid-area: Header;
   height: fit-content;
}

.App-header > .Title {
   margin: 0;
}

.App-header > .Version {
   color: silver;
}

.App-link {
   color: #61dafb;
}

.App-aside { grid-area: Aside; }
.App-main { grid-area: Main; }



