/* root variables */
:root {
  --relative-pixel: calc(1ch / 25);
  --regular-border: calc(2 * var(--relative-pixel))
}

.App {
   background-color: #282c34;
   min-height: 100vh;
   color: white;

   display: grid;
   /* default moved to min-width media querys */
}

@media (min-width: 800px) {
   .App {
      grid-template-columns: 250fr 1432fr 1314fr 250fr; /* ~ (8%, 44%, 40%, 8%)  */
      grid-template-rows: 0.3fr 0.3fr 2rem 3.1fr 0.3fr; /* ~ (7%, 7%, 7%, 72%, 7%) */
      gap: 0 0;
      grid-template-areas:
         ". . . ."
         ". Header Aside ."
         ". . Aside ."
         ". Main Aside ."
         ". . . .";
   }
}

@media (max-width: 800px) {
   .App {
      grid-template-columns: 250fr 2745fr 250fr; /* ~ (8%, 44%, 40%, 8%)  */
      grid-template-rows: 7vh 7vh 2rem 84vh 2rem 93vh;
      gap: 0 0;
      grid-template-areas:
         ". . ."
         ". Header ."
         ". . ."
         ". Main ."
         ". . ."
         ". Aside .";
   }
}

/*
@keyframes App-logo-spin {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
   .App-logo {
      animation: App-logo-spin infinite 20s linear;
   }
}
*/

.App-header {
   font-size: calc(10px + 2vmin);

   grid-area: Header;
}

.App-header > .Title {
   margin: 0;
}

.App-header > .Version {
   color: silver;
}

.App-link {
   color: #61dafb;
}

.App-aside { grid-area: Aside; }
.App-main { grid-area: Main; }



