.App {
   background-color: #282c34;
   min-height: 100vh;
   color: white;

   display: grid;
   grid-template-columns: 250fr 1432fr 1314fr 250fr; /* ~ (8%, 44%, 40%, 8%)  */
   grid-template-rows: 0.3fr 0.3fr 2em 3.1fr 0.3fr; /* ~ (7%, 7%, 7%, 72%, 7%) */
   gap: 0 0;
   grid-template-areas:
      ". . . ."
      ". Header . ."
      ". . . ."
      ". Main Aside ."
      ". . . .";
}

/*
@keyframes App-logo-spin {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
   .App-logo {
      animation: App-logo-spin infinite 20s linear;
   }
}
*/

.App-header {
   font-size: calc(10px + 2vmin);

   grid-area: Header;
}

.App-header > .Title {
   margin: 0;
}

.App-header > .Version {
   color: silver;
}

.App-link {
   color: #61dafb;
}

.App-aside { grid-area: Aside; }
.App-main { grid-area: Main; }



