body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

code {
   font-family: var(--monospace);
}

:root {
   --monospace: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

   /* Make font-size relative to screen size */
   font-size: calc(0.5em + 1vmin);

   /* Only supports dark-mode for now */
   color-scheme: dark;
}

@media print {
   :root {
      --text-color: black;
      --background-color: white;
      --link-color: rgb(0, 0, 238);
      --link-active-color: red;
      --link-visited-color: rgb(85, 26, 139);
   }
}
